<div class="card" style="width: 18rem;">
    <div class="card-body">
        <%=label :description ,"tarea"%>
        <h1> <%=@todo.description%></h1>
        <%=label :completed ,"Estado de la Tarea: "%>
        <p> <%=@todo.completed%></p>
        <p>creado hace_<%=time_ago_in_words @todo.created_at%> </p> 
    </div>
</div>